@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

<p>Please enter the username and the email for the account you want to reset the password.</p>

<form method="post">
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <td><label class="control-label col-md-2">Username</label> <span>:</span></td>
            <td class="col-md-10"><input type="text" name="username" class="form-control" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" class="btn btn-default" /></td>
            <td class="col-md-10"><input type="reset" value="Reset" class="btn btn-default" /></td>
        </tr>
    </table>
</form>